html, body {
    height: 100%;
    margin: 0;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1; /* Esto hace que el contenido crezca para llenar el espacio */
  }
  
  footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  